---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Contact from "@/components/Contact.astro"
import MailIcon from "@/components/icons/Mail.astro"
---

<Layout
  title="Amilcar Barahona - portfolio - Software Developer"
  description="Web developer with extensive knowledge of frontend and backend technologies. 10 years of experience in developing responsive web applications."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection translateKey="navigation.experience">
          <Briefcase class="size-8" />
          Laboral Experience
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection translateKey="navigation.projects">
          <CodeIcon class="size-7" />
          Projects
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about-me">
        <TitleSection translateKey="aboutMe.title">
          <ProfileCheck class="size-8" />
          About me
        </TitleSection>
        <AboutMe />
      </SectionContainer>

      <SectionContainer id="contact">
        <TitleSection translateKey="contact.title">
          <MailIcon class="size-8" />
          Contact
        </TitleSection>
        <Contact />
      </SectionContainer>
    </div>
  </main>
</Layout>
