---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import Contact from "@/components/Contact.astro"
import MailIcon from "@/components/icons/Mail.astro"
---

<Layout
  title="Amilcar Barahona - portfolio - Software Developer"
  description="Desarrollador web con gran conocimiento en tecnologías frontend y backend. 10 años de experiencia en el desarrollo de aplicaciones web responsive."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experience">
        <TitleSection translateKey="navigation.experience">
          <Briefcase class="size-8" />
          Experiencia laboral
        </TitleSection>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <TitleSection translateKey="navigation.projects">
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about-me">
        <TitleSection translateKey="aboutMe.title">
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <AboutMe />
      </SectionContainer>

      <SectionContainer id="contact">
        <TitleSection translateKey="contact.title">
          <MailIcon class="size-8" />
          Contacto
        </TitleSection>
        <Contact />
      </SectionContainer>
    </div>
  </main>
</Layout>
