---
 const personalImageAlt = "Amilcar Barahona"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p data-translate="aboutMe.paragraph1" data-translate-html>
      Cuento con 10 años de experiencia como desarrollador de software y entusiasmo autodidacta. Lideré el desarrollo FrontEnd
      e hice de supervisor a los desarrollos en el área de backend como Technical Lead en Cencosud S.A., logrando establecer
      exitosamente un modelo de datos no relacional para el sector de post-purchase experience.
    </p>

    <p data-translate="aboutMe.paragraph2" data-translate-html>
      Esta planificación sirvió de inicio
      para desarrollar una base transversal sólida en la <strong>tecnología micro-frontend</strong>, que permitió afianzar objetivos de reducción de
      costos potenciales de hasta un 30% en relación a servicios dependientes de terceros, muchos de los cuales adolecían de
      estabilidad y operatividad afectando el flujo de compras para clientes en la empresa.
    </p>
  </div>

  <img width="200" height="200" src="/aml.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>