---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Marzo 2024 - Mayo 2024",
    location: "Remoto - Santiago, Chile",
    title: "Technical Lead",
    company: "Cencosud S.A.",
    technologies: ["Webpack", "Module Federation", "Typescript", "React", "Node.js"],
    tools: ["Jira", "Miro", "Slack", "Gitlab", "Github"],
    description_1: "Responsable de la plataforma Operation Center, nucleo principal de la seccion post-purchase experience. De igual manera Colaboré con un equipo brinda soporte a una librería unificada de componentes UI para mejorar y centralizar la homogeneidad de los desarrollos frontend en cuanto a componentes.",
    description_2: "Se logró un 30% de reducción de costos potenciales en servicios dependientes de terceros."
  },
  {
    date: "Mayo 2023 - Marzo 2024",
    location: "Remoto - Santiago, Chile",
    title: "Senior Frontend Engineer",
    company: "Cencosud S.A.",
    technologies: ["Webpack", "Module Federation", "Typescript", "React", "Node.js"],
    tools: ["Jira", "Miro", "Slack", "Gitlab", "Github"],
    description_1: "Responsable de refactorar y actualizar una plataforma basada en Webpack con Module Federation (micro-frontend) que permitió establecer la base en la migración para las diferentes apps de equipos pertenecientes al ecosistema post-purchase experience de la empresa.",
    description_2: "Ademas, se realizaron mejoras en una librería nativa que permite la     orquestación y ejecución de apps basadas en webpack-react en el micro-frontend, permitiendo su resolución y navegación."
  },
  {
    date: "Junio 2022 - Mayo 2023",
    location: "Remoto - Kansas City, Estados Unidos",
    title: "Senior Frontend Engineer",
    company: "Toucan Talent (Start Up)",
    technologies: ["Typescript", "React", "Node.js", "NextJS"],
    tools: ["Clickup", "Slack", "Github"],
    description_1: "Lideré un equipo de desarrollo front end para una plataforma basada en redes sociales brindando orientación a buenas prácticas de desarrollo, cumplimiento de tiempo y planificación de actividades en sprint y objetivos a corto, mediano y largo plazo. ",
    description_2: "De igual manera supervisé buenas prácticas y código limpio en el frontend permitiendo desarrollos más ágiles y dinámicos, fomentando el trabajo en equipo y el pair programming, estableciendo conductas efectivas de comunicación. Fomenté el establecimiento de metas y objetivos que permitieron reducir los tiempos de desarrollo en un 30% logrando así el release de los 2 primeros MVP de forma eficaz."
  },
  {
    date: "Junio 2019 - Junio 2022",
    location: "Remoto - Santiago, Chile",
    title: "Frontend Engineer => Frontend Lead",
    company: "Pharol SPA.",
    technologies: ["Vue", "React", "Node.js", "NextJS"],
    tools: ["Miro", "Slack", "Gitlab"],
    description_1:
      "Realicé el reclutamiento de desarrolladores de frontend y diseñadores UX UI que permitieron dar continuidad a nuevos desarrollos y features en la app durante mi tiempo como Technical Lead Frontend. De igual forma, Desarrollé nuevas features en la app de frontend basada en la tecnología VueJS, establecioendo estandares de escalabilidad a nuevos desarrollos requeridos por el equipo de planificación.",
    description_2: "Realicé una migración junto con el equipo de frontend de la plataforma VueJS a ReactJS, además de hacer énfasis en elementos de código limpio para permitir su escalabilidad, logrando así reducir tiempos de carga de la plataforma de hasta un 50%."
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
